In [3]:
import pandas as pd
import datetime
telco_data = pd.read_excel('data.xlsx')
telco_data = telco_data.dropna()

In [6]:
telco_data_subset = telco_data[['start time', 'end time', 'location(latitude/lontitude)']]
telco_data_subset['workload'] = (telco_data_subset['end time']-telco_data_subset['start time']).dt.total_seconds()
telco_data_subset = telco_data_subset[['workload', 'location(latitude/lontitude)']]
telco_data_subset = telco_data_subset.groupby(by = ["location(latitude/lontitude)"]).sum()
telco_data_subset = telco_data_subset.reset_index()
telco_data_subset['location'] = [tuple([float(y) for y in x.split("/")]) for x in telco_data_subset['location(latitude/lontitude)']]
telco_data_subset = telco_data_subset[['workload', 'location']]

AttributeError: 'Series' object has no attribute 'total_seconds'

In [96]:
telco_data_subset.to_pickle("prepared_telco_data.pickle")

In [97]:
telco_data_subset

       workload                 location
0     1507810.0  (22.522803, 114.218796)
1      643543.0  (24.284812, 102.999068)
2       50378.0  (25.222206, 117.086322)
3     3755547.0  (26.139329, 103.078562)
4      763464.0  (26.215115, 109.744661)
...         ...                      ...
2764    15654.0  (41.677262, 125.960124)
2765   106027.0  (41.835279, 123.498927)
2766    92737.0  (46.247857, 128.762232)
2767  1808387.0  (46.777465, 131.812182)
2768     1949.0   (47.35092, 130.301233)

[2769 rows x 2 columns]